/* as IE7 having trouble supporting CSS pseudo class ":last-child" */
 
#header .top li+li+li+li{margin: 0;}
 
#footer .inner .content li+li+li{
    padding-right: 0;
    background: none;
    width: 286px;
}
 
.social li+li+li+li+li{margin-right: 0;}
 
#menu ul li:last-child{padding-bottom: 6px;}
 
#footer .content .grid_4{
    padding-bottom: 0;
    margin-bottom: 0;
}
 
hr{
    background: #cdcdcd;
    border: none;
    border-bottom: 1px solid #f6f6f6;
    border-top: 1px solid #f6f6f6;
    display: block;
    padding: 0;
    height: 3px;
    margin: 18px 0;
}
 
.popularPost ul li+li{margin-right: 0;}
 
#commentForm input[type="text"],
#commentForm textarea,
#contactForm input[type="text"],
#contactForm textarea{margin-left: -80px;}
