<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Tutorial System - Answer Garden</title>
<!-- CSS Files -->
<link rel="stylesheet" type="text/css" href="../includes/code/css/reset.css" media="all" />
<link rel="stylesheet" type="text/css" href="../includes/code/css/960.css" media="all" />
<link rel="stylesheet" type="text/css" href="../includes/code/css/default.css" media="all" />

<!--[if lt IE 8]>
        <link rel="stylesheet" type="text/css" href="includes/code/css/ie7.css" media="all" />
    <![endif]-->
<!--[if IE 8]>
        <link rel="stylesheet" type="text/css" href="includes/code/css/ie8.css" media="all" />
    <![endif]-->
</head>
<body>
<div id="content" class="container_12">
  <div class="question_container"></div>
</div>
<script type="text/javascript" src="../includes/code/js/jquery-1.7.1.min.js"></script>
<script>
function Question(container, question_list) {
	var clicked;
    this.container = container.empty();
    this.question_list = question_list;
	
	if (question_list.length == 2) {
		
		for(var i=0;i<question_list.length;i++){
        	container.append('<div class="two_q'+(i+1)+'">' + question_list[i] + '</div>');
    	}
		
	} else {

    	for(var i=0;i<question_list.length;i++){
        	container.append('<div class="four_q'+(i+1)+'">' + question_list[i] + '</div>');
    	}
		
	}

    $(container.children()).on('click', function() {
        selected = $(this);
		clicked = $(this).index();
        selected.siblings().fadeOut();
        selected.animate({
            width: 920,
            height: 440
        });
        selected.fadeOut();
    });
	
	console.log(container);
	
    }

    var question_list = ["Question 1", "Question 2", "Question 3", "Question 4"];
	var question_list2 = ["Statement1", "Statement2"];
	
var question = new Question($('div.question_container'), question_list);
//var question1 = new Question($('div.question_container'), question_list2);
</script>
</body>
</html>
