body {
	background:#86C9EF;
	color:#000;
}
h1, h2, h3, h4, h5, h6 {
	color:#000;
}
.header_bar {
	display:block;
	background:#333;
}
.header_bar img {
	float:right;
}
#content {
}
#footer {
	text-align:center;
}
.clear{
	clear:both;
}
form {
	background:#FFF;
	color:#333;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
}
form ol li {
	display:block;
	padding: 10px;
}
form label {
}
form input, select, textarea {
	font: normal 12px/18px Arial, Helvetica, sans-serif !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	outline: none;
	width:95%;
}
form input:not([type=submit]):focus, textarea:focus {
 	background: #eaeaea;
	border:solid 1px #999 !important;
}
form button {
	opacity:0.8;
	background:#000;
	margin:auto;
	width:100px;
	height:auto;
	background: ##FFF;
	border: none;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	color: #FFF;
	display: block;
	letter-spacing: 1px;
	font-weight:bold;
	padding: 7px 25px;
	text-transform: uppercase;
}
form button:hover {
	cursor: pointer;
	background:#000;
	opacity:1;
}

/* LightBox CSS */

.black_overlay {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
.white_content {
	display: none;
	position:fixed;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	background-color: white;
	z-index:1002;
	overflow: auto;
}
		
/* Login CSS */

#logo {
	margin-left:auto;
	margin-right:auto;
	width:400px;
}
#login {
	margin:auto;
	width:400px;
}

/* Landing CSS */

#image_links {
	float:left;
	margin-top:30px;
}
#assistance:hover {
	cursor:pointer;
}
#pup {
  position:absolute;
  z-index:200; /* aaaalways on top*/
  padding: 5px;
  margin-left: 10px;
  margin-top: 5px;
  width: 300px;
  border: 1px solid black;
  background:#FFF;
}
.appointment_notification{
	padding:10px;
	background:#FFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	
}
.notification_thumbnail{
	float:left;
	margin-left: 10px;
}
.notification_details p{
	margin:30px 0px 0px 120px;
	font-size:24px;
	
}
.notification_buttons{
	float:right;
	padding:0px, 10px;
}
.notification_buttons img{
	margin:10px 10px 0px;
}
.announcements_form form {
	border:none;

}
.announcements_form button {
	width:150px;
	float:right;
	margin:30px;
}
.announcements_form textarea {
	float:left;
	width:700px;
	border: 1px solid #666;
}
.close_button {
	float:right;
	width:16px;
	height:16px;
	margin:15px 0px 5px 0px;
}
.close_button:hover {
	width:16px;
	height:16px;
	background:url(../../images/Close_Button.png) no-repeat;
	cursor:pointer;
}
.student_details p {
	text-align:center;
	text-transform:uppercase;
	margin:5px 0;

}

/* Appointments CSS */

#search_date_time input[type=text]{
	width:90%;
}
	

.tutor {
	margin:10px 0px;
	padding: 5px;
	border: 5px solid #FFF;
  	background:##4EBAFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

.tutor h2 {
	float:left;
	margin-left:20px;
}

.tutor img {
	float:right;
	margin:10px;
}

.calendar {
	display:none;
	margin:10px;
}

/* Details CSS */

.details_form form {
	width:600px;
	margin:auto
}
.details_form form ol li {
	display:block;
	line-height: 30px;
	padding: 5px 10px;
	margin-bottom: 2px;
}
.details_form form label {
	width: auto;
	width: 200px;
	font-size: 13px;
}
.details_form form input:not([type=checkbox]), textarea {
 float:right;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 -khtml-border-radius: 3px;
 border-radius: 3px;
 outline: none;
 padding: 5px;
 width: 400px;
}

.details_form form input[type=checkbox]{
 float:right;
width:50px;
margin-right:350px;
}

.details_form form select {
	float:right;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 -khtml-border-radius: 3px;
 border-radius: 3px;
 outline: none;
 margin-right:212px;
 padding: 5px;
 width: 200px;
}

/* Answer Garden CSS */

.question_container {
    position:relative;
    height:480px;
}
.four_q1 {
    position:absolute;
    display:inline-block;
    width: 440px;
    margin: 10px;
    padding: 10px;
    background:#063;
    height:200px;
    cursor:pointer;
    left:0px;
    top:0px;
}
.four_q2 {
    position:absolute;
    display:inline-block;
    width: 440px;
    margin: 10px;
    padding: 10px;
    background:#063;
    height:200px;
    cursor:pointer;
    right:0px;
    top:0px;
}
.four_q3 {
    position:absolute;
    display:inline-block;
    width: 440px;
    margin: 10px;
    padding: 10px;
    background:#063;
    height:200px;
    cursor:pointer;
    left:0px;
    bottom:0px;
}
.four_q4 {
    position:absolute;
    display:inline-block;
    width: 440px;
    margin: 10px;
    padding: 10px;
    background:#063;
    height:200px;
    cursor:pointer;
    right:0px;
    bottom:0px;
}​

.two_q1 {
	position:absolute;
    display:inline-block;
    width: 440px;
    margin: 100px 10px 10px 10px;
    padding: 10px;
    background:#063;
    height:200px;
    cursor:pointer;
    left:0px;
    top:0px;
	
}

.two_q2 {
	position:absolute;
    display:inline-block;
    width: 440px;
    margin: 100px 10px 10px 10px;
    padding: 10px;
    background:#063;
    height:200px;
    cursor:pointer;
    right:0px;
    top:0px;
}

.answer {
	position:absolute;
    display:inline-block;
    width: 920px;
    margin: 100px 10px 10px 10px;
    padding: 10px;
    background:#063;
    height:200px;
    cursor:pointer;
    left:0px;
    top:0px;
}