/* as IE8 having trouble supporting CSS pseudo class ":last-child" */
#header .top li+li+li+li{margin: 0;}
 
#footer .inner .content li+li+li{
    padding-right: 0;
    background: none;
    width: 286px;
}
 
.social li+li+li+li+li{margin-right: 0;}
 
.popularPost ul li+li{margin-right: 0;}


